/* @font-face {
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Muli Regular'), url('Muli-Regular.woff') format('woff');
    } */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* *{
    font-family: 'Muli Regular';
} */

p{
    color: #555555;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    margin: 0px;
}
h2, h3{
    color: #333333;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 32px;
    line-height: 42px;
    /* font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: capitalize; */
}

li{
    list-style: none;
}

.banner{
    width: 100%;
    background-color: #f8ede7;
    height: 650px;
    font-family: 'Muli Regular';
}

.navbar{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.navbar-nav .nav-item .nav-link{
    color: #1d3a77;
    letter-spacing: 1px;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus, .navbar-nav .nav-item .nav-link:active, .active {
    color: #ff7d44 !important;
}

.container-wrapper .container{
    max-width: 100% !important;
    padding-left: 35px;
    padding-right: 0px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: 400;
    color: #1d3a77;
}

.slick-prev{
   left: 1% !important;
}
.slick-next{
    right: 1% !important;
}


.slider-images__1, .slider-images__2, .slider-images__3{
    width: 33%;
    /* float: right;
    margin-right: -20%;
    height: 553px; */
    position: relative;
}
.row{
    display:flex;
}

.slider-description-1, .slider-description-2, .slider-description-3{
    width: 66%;
    margin-top: 57px;
    padding-left: 20px;
}

.slider-image-1{
    height: 513px;
    /* position: relative; */
    width: 55%;
    float: right;
    z-index: 11;
}

/* .col-8{
    width: 66% !important;
}

.col-4{
    width: 33% !important;
} */
.slick-prev, .slick-next {
    font-size: 15px !important;
  }
  
   .slick-prev:before, .slick-next:before  {
    content: '' !important;
  }

.slick-prev:before, .slick-next:before {
    display: none;
    }
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 48px;
}

.slick-next:before {
    content: '&#8592;';
}

.slider-image-down, .slider-image-middle, .slider-image-top{
    width: 100%;
    height: 100%;
    
}

.slider-image-2{
    height: 446px;
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 13.1%;
}

.slider-image-3{
    height: 495px;
    width: 300px;
    position: absolute;
    z-index: 20;
    top: 3.7%;
    right: 207px;

}

.service-container, .business-container, .teams, .business-strategy{
    margin-top: 7%;
}

.home-service__icon{
    width: 30%;
    
}

.home-service{

}

.icon-title{
    font-weight: 100;
    color: #333333;
}

.business-col-2 h1, .business-strategy-col-2 h1{
    color: #1d3a77;
    font-size: 65px;
    line-height: 65px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.business-col-2 .business-desc{
    padding-top: 20px;
}

.service, .business, .teams{
    font-family: 'Cormorant Garamond', sans-serif;
}

.business-col-2{
    padding: 40px 100px 80px 120px;
} 

.row-2, .row-3{
    width: 80%;
}

.row-2 .col, .row-3 .col{
    width: 174px !important;
    height: 174px !important;
    text-align: center;
}

.row-3{
    margin-top: 70px;
}


.CircularProgressbar {
    width: 100% !important;
    height: 100% !important;
}

.accordion-title {
    font-weight: 600;
    cursor: pointer;
    color: #666;
    padding: 0.5em 1.5em;
    border: solid 1px #ccc;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-title::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }
  .accordion-title:hover,
  .accordion-title.open {
    color: black;
  }
  .accordion-title.open::after {
    content: "";
    border-top: 0;
    border-bottom: 5px solid;
  }
  .accordion-content {
    padding: 1em 1.5em;
  }

  .accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }
  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }

  .accordion-list{
      list-style: none;
  }

footer{
    background-color: #002237;
    padding: 100px 50px;
}

footer .col h3, footer .col p {
    color: #fff;
}

footer .col p{
    font-size: 15px;
}



